html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 25px;
    padding: 0px;
}

.owner-spots-title{
    display:flex;
    justify-content: flex-start;
    padding:25px;

}

.modal-button{
    display:flex;
    align-self:center;
    justify-content:center;
    padding:5px;

}

.button-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin:0px;
    padding-top: 18px;

}
.button-container a {
    color: white;
    text-decoration:none;
}
.button-container button {
    margin:0;
    padding:8px;
    width: 45%;
}
