
html {
    /* display: flex;
    justify-content: center; */
    /* padding:25px; */
}

.reviews-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;

}

.review-button {
    width:100%;
    border-radius: 6px;
    border: none;
    background-color: rgb(245, 19, 19);
    color: white;
    padding: 10px;
    display: flex;
    margin: 20px 0px 20px 0px;
    align-self: flex-start
}

.user-review-card{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 20px;
    width: 30%
}

.user-review-card img {
  width: 100%;
  aspect-ratio:1/1;
  border-radius: 5%;
  margin: 20px 0px 20px 0px
}




.user-reviews-title {
    padding: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid rgb(199, 195, 195);
}


.fa-solid fa-star {
    padding: 20px;
    align-self: center;
}

.current-review-card {

    padding: 50px;
    margin: 50px;
    border-bottom: 1px solid rgb(199, 195, 195);

}

.user-reviews-title {
    justify-content: center;
}

.review-button a {
    color:white;
    text-align: center;

}


.review-button {
    width: auto;
}
