/* button{
    color: rgb(0, 0, 0);
    max-height: auto;
    max-width: auto;
    border-radius: 8px;
    width: fit-content;

}

.edit-spot-title{
    display:flex;
    justify-content: center;
} */
