#modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;

}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(147, 140, 140, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    border-radius: 4%;
    width: fit-content;
}



form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
    padding:15px;
}


.add-preview-image{
    padding: 30px;
}

.checkbox {
    padding:30px;
}

.errors {
    color:red;
    padding: 8px;
    text-align: center;
}
