.create-bookings-main-container{
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgb(199, 199, 199);
    position: sticky;
    padding: 20px;
    top: 100px;
    margin-top: 100px;
    right: 50px;
    width: 350px;
    background-color: white;

}

.date-input-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.bookings-form-container{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-size: 16px;
}

.spot-price{
    font-weight: bolder;
    font-size: 20px;
}

#booking-start-date-id, #booking-end-date-id{
font-size: 12px;
margin-left: 10px;
margin-top: 5px;
margin-bottom: 0px;
}


.date-input-container{
    border-radius: 6px;
    border: 1px solid rgb(99, 98, 98);
    margin: 16px 0px 16px;
    width:100%;
    display: flex;
    overflow:hidden;
    padding: 5px;
}

.start-date-input, .end-date-input {
border:none;
}

.check-in-container, .check-out-container {
width: 50%;
position: relative;
}

.check-in-container:focus, .check-out-container:focus{
border: 2px solid black;
}

.booking-price-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:14px;
    font-weight:500

}
.check-in-container{
    border-right: 1px solid grey;
}

.booking-price-container{
    display: flex;
    flex-direction: row;
    margin: 5px 0px
}


.booking-price-details{
    margin-left: 7px;

}

.wont-be-charged{
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 15px 0px 5px 0px;
    font-weight: bold;
}


.booking-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
}



.spot-price{
    font-weight: bolder;
    font-size: 25px;
}

.spot-price-container{
    display:flex;
    flex-direction: row;
}

.night {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    margin-bottom: 2px;
}

.booking-top-right-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}
.star-rating-booking{
    margin-right: 5px;
}
