
/* .spot-info-page-container{

} */
.spot-header-container {
    display: block;
}

.spot-header-container h1{
    font-size: 25px;
    font-weight: 600;
    margin-top:30px;
}
.spot-header-name-container {
    display: inline;
    padding: 20px;
    font-size: 12px;
    font-weight:900;
}

.spot-header-info-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.spot-sub-header-info-container{
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 15px;
    display:flex;
    justify-content:flex-start;

    /* text-decoration: underline; */
}
.spot-sub-header-details{
    text-decoration: underline;
    font-size: 13px;

}
.dots{
    margin: 0px 5px;
}
.spot-address {
    font-style: underline;
    font-weight:bold;
    display: flex;
    padding: 5px;
}

.spot-stars {
    padding: 5px;
    font-weight: bold;
}

.spot-rating {
    padding: 5px;
    font-weight: bold;
}

.spot-image-container {
    /* width: 100%; */
    /* max-width: 1800px; */
    /* height: 600px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;

}
.spot-image-container img {
    width:100%;
    /* height: 800px; */
    /* aspect-ratio: 1/1; */
    border-radius: 4%;
    height: 600px;
    object-fit: cover;
    overflow:hidden;

}


.spot-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px 25px 0px;
    border-bottom: 1px solid rgb(194, 191, 191);
    font-weight: bold;
}

.hosted-by-container{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}

.owner-pic {
    font-size: 60px;
    display: flex;
    align-self: flex-end;
    justify-self: center;
    color: grey
}

.spot-bed-bath-container{
 font-size: 14px;
 padding:0px 0px 10px 0px;
 border-bottom: 1px solid rgb(224, 216, 216);
 font-weight: normal;
}


.owner-picture{
    font-size: 60px;
    color: rgb(143, 139, 139)
}

.aircover-title-image img{
    width: 200px;
    padding: 30px;
    padding-left:0px;
}
.aircover-info{
    padding-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid rgb(224, 216, 216);
}
.price-rating-side-container {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */

    padding: 25px;
    margin:30px;
    border-radius: 20px;
    width: 30%;
    height: 60%;

    box-shadow: 2px 2px 2px 2px rgba(90, 88, 88, 0.2);
    text-align: center;

}

.spot-description-rating {
    padding: 20px;
}

.spot-description{
    font-size: 16px;
}


.spot-description-container{
    padding:40px;
    padding-left:0px;
    font-weight: normal;
    font-size: 16px;
}

.spot-description-price {
    font-weight: 900;
    font-size:20px;
}

.edit-delete-spot-buttons-container{
    width: 100%;
    padding:0px;
    margin:0px;
    padding-top:25px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid rgb(224, 216, 216);
}
.edit-delete-spot-buttons-container button{
    width: fit-content;
    padding:15px;
    margin:10px;
}




/* LOCATION CONTAINER */

.location-container,
.check-in-door-container,
.free-cancellation-container {
 display:flex;
 justify-content: flex-start;
 font-weight: normal;
 font-size: 13px;
 padding-top: 20px;
}

.fa-location-dot,
.fa-door-open,
.fa-calendar-xmark {
    margin:20px;
    font-size: 35px;
    margin-left:0px;

}

.location-info-title,
.check-in-door-title,
.free-cancellation-title {
    font-weight: bold;
    color: black;
    padding-bottom: 4px;
}

.location-info,
.check-in-door-info,
.free-cancellation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: grey
}




.spot-description-container{
    border-top: 1px solid rgb(224, 216, 216);
    border-bottom: 1px solid rgb(224, 216, 216);
    font-size: 16px;
}

.create-review-container{
    display:flex;
    width: 100%;
    justify-content: center;
}
.leave-review-button{
    margin:10px;
    padding:15px;
    width: 28%;
}

.spot-info-page-container {
    margin:auto;
    max-width: 70%;
    /* border:3px solid blue; */
}

.spot-not-found{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:50px;
}


booking-container-spot-page {
   margin-right: 0px;
}

.spot-page-details-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-container-spot-page{
    display: flex;
    height:fit-content;
    margin: 25px 0px 10px 40px;
    position: sticky;
    top:100px;
    z-index: 3;
}

.maps-title{
    margin: 25px 0px;
    font-size: 25px;
    font-weight: bold
}


.maps-container-spot-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hosted-by-main-container{
    margin: 15px 0px;
    font-weight: bold;
}

.where-youll-be-address {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 1.15rem;
}
