footer {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: grey;
    z-index: 4;
    border-top: 1px solid rgb(197, 194, 194);
    position: relative;
    background-color:rgb(255, 254, 254);
    height: 60px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-top: 50px;
}


footer a {
    font-style: none;
    color: grey;
    font-size: 13px;
    font-weight: bold;

}
