@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

html,button{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}



.root {
    width:95%;
    margin:auto;
}
