

.homepage-grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: space-between;

}


.spot-card-container {

    justify-content: center;
    align-content: center;

}

.flex-spot-container{

    justify-content: center;
}
a {
    text-decoration: none
}
/* i {
size:100%;
} */


.homepage-title {
    color:red;
    font-size:xx-large;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 20px;

}
.primary-text {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.secondary-text {
    color: blue;
}

img {
    align-content: center;
    /* box-sizing: border-box; */
    border-radius: 10%;
    max-width: 80%;
    max-height: 80%;
}
