* {
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

.flex-container{
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: space-between; */

    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;


}


.spot-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border:outset;
    border-radius: 10px;
    flex-basis: 1 1 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 350px;
}


.flex-spot-container{
    display:flex;
    flex-basis: 1 1 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}


.previewImage {
    width:100%
}

img {
    align-self: center;
    /* box-sizing: border-box; */
    /* border-radius: 10%; */
    width: 100%;
}

a {
    text-decoration: none
}



.logo {
    color:red;
    font-size:xx-large;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 20px;

}
.primary-text {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.secondary-text {
    display: flex;
    color: blue;
}




.text-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
