/* styling for entire page */


/* styling for logo */
a {
    text-decoration: none
}
.title{
    display: flex;
    justify-content: center;
    padding:25px;
    border-top: 1px solid rgb(177, 173, 173);
}

/* styling for keerbnb logo */
.logo {
    color: red;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 40px;

}

/* STYLING FOR THE MAIN ELEMENTS OF SPLASH PAGE */

/* for the container that holds all cards */
.flex-container{
    margin-top:15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: center; */
    width: 100%;
    /* border-bottom: 1px solid rgb(177, 173, 173); */
    align-content: center
    /* padding:25px; */
}

/* for each spot card */
.spot-card-flex-container {
    box-sizing: border-box;
    margin: 5px;
    padding:5px;
    display: flex;
    border-radius: 5%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 270px;
    flex-direction: column;


}

/* image container */
.image-container {
    display:flex;
    justify-content:center;
}

/* styling for preview image*/
.image-container img {
    width: 100%;
    aspect-ratio:1/1;
    border-radius: 5%;
}

/* container for rating and city, state */
.top-text-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    font-size: 13px;
    padding-top: 5px;
}
.top-address-container {
    font-weight: bold;
}

/* container for price */
.bottom-text-container {
    display: flex;
    flex-direction: column;
    color: rgb(149, 149, 155);
    font-size: 13px;
}

.bottom-address-container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.price-container {
    color:black;
    padding-top: 5px;
    font-weight: bold;
}

.splash-page-star{
    padding: 2px 2px 0px 0px;
}
