*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;

}

header{
    display:flex;
     justify-content: space-between;
     align-content: center;
     flex-direction: row;
     height:100%;
     border-bottom: 1px solid rgb(227, 224, 224);
     padding-left: 45px;
     padding-right: 25px;
}

/* container for entire main navbar container */
.main-navbar-flex-container{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between

}

/* styling for logo */
.logo-flex-container {
    display:flex;
    color: #f51313;
    width:auto;
    font-size: 30px;


}

/* ayrbnb logo name text styling */
.logo-name{
    color:rgb(245, 19, 19);
    padding-left: 10px;

}
.logo-image {
    padding-top:5px;
}
.logo-name-text{
    padding-bottom: 10px;
}
/* main navbar container */
.create-spot-container{
    display:flex;
    align-self: center;
    border-radius: 20px;
}

.user-profile-container {
    position: relative;
    display: flex;
    align-self: flex-end;
}
 .user-profile-container ul {
    align-self: inline-flex;
    display: block;
     list-style-type: none;
     width: 300px;
     margin: 10px;
     padding: 10px;
     background-color: #ffffff;
     list-style: none;
}
 .user-profile-container ul li {
    display:block;
    margin: 5px;
    padding: 5px;
    color: rgb(174, 171, 171);
    text-decoration: none;
    list-style: none;
}

.create-spot-container button {
    display:block;
    font-weight: bold;
    padding: 10px 10px;
    width:100%;
    border:none;
    /* align-self: flex-end;
    justify-content:flex-end; */
    background-color: white;
    color: black

}

.userProfileButton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color:rgb(61, 57, 57);
    border: 1px solid rgb(228, 223, 223);
    border-radius: 25px;
    padding:10px;
    margin-right: 25px;
    width:fit-content;
    font-size: 1rem

}

.userProfileButton i {
    margin: 10px;
}

.profile-dropdown-list{
    display: flex;
    flex-direction: column;
align-items: flex-start;
background-color: #fff;
list-style: none;
position: absolute;
right: 0;
top: 50px;
width: 300px;
border-radius: 15px;
padding: 10px;
box-shadow: 0 0 14px 0.5px rgba(229, 226, 226, 0.7);
}

.profile-dropdown-list a {
    list-style: none;
    text-decoration: none;
    color: black;
}
