*{
    box-sizing: border-box;

}

.navbar-container{
    display:flex;
    flex-direction: row;
    height:100%;
    justify-content: space-between;

}

.logo-name{
    color:rgb(245, 19, 19)
}


.navbar-container .navbar{
    display:flex;
    justify-content: flex-end;
}

.navbar ul {
    display: inline-block;
     list-style-type: none;
     width: 300px;
     margin: 10px;
     padding: 10px;
     background-color: #ffffff;
     list-style: none;
}
.navbar ul li {
    margin: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

.logo {
    display: inline-flex;
    align-self: flex-start;
    color: rgb(245, 19, 19);
}

.navbar button {
    font-weight: bold;
    padding: 10px 10px;
    width:100%;
    border:none;
    background-color:rgb(245, 19, 19);
    color:white;
    align-self: center;

}


.profile-dropdown{
    position: relative;
    display: inline-block;
    list-style: none;
    border: 2px solid rgb(180, 175, 175);
    border-width: 2px;
    width: 200px;
}
.profile-dropdown li {
    display: block;
    color:rgb(172, 171, 171);
    font-size: 20px;
    z-index: 1;
}

.userProfileButton{
    margin:15px;
    border-radius: 100%;
}
