input {
    border:10px 4px 5px 5px black;
    background-color: lightcyan;
    display: flex;
     justify-content: center;
     flex-direction: row;
     margin: 10px;
     padding: 10px;

}

label {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}

.login {
    border-color:rgb(48, 55, 100);
    color: white;
    background-color: rgb(232, 4, 4);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
